<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939919517768-m4crrdtr1t53fpp3ano4dutjvlun142i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939919517768-m4crrdtr1t53fpp3ano4dutjvlun142i</string>
	<key>API_KEY</key>
	<string>AIzaSyCgYy-e9yk4cYYxYtytgI_AFdeHM3Ab-V4</string>
	<key>GCM_SENDER_ID</key>
	<string>939919517768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lcf</string>
	<key>PROJECT_ID</key>
	<string>lcfdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>lcfdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939919517768:ios:f69ef94cda8c140927107d</string>
</dict>
</plist>